.playListGrid {
  margin-bottom: 40px;
  height: 410px;
  margin-top: 50px;

  overflow: hidden;

  //
  @include breakpoint('tablet') {
    height: 410px;
  }
  @include breakpoint('desktop') {
    height: 410px;
  }
  .flex-container {
    height: 320px;
    @include breakpoint('phone') {
      height: 280px;
    }
    overflow: hidden;
    .no-songs{
        color: #FFFFFF;
        font-family: SameSameButDifferent;
        font-size: 20px;
        text-align: center;

    }

    padding: 0;
    font-family: Arial, Serif;
    margin: 0 auto;
    list-style: none;
    width: 260px;
    @include breakpoint('tablet') {
      width: 400px;
    }
    @include breakpoint('desktop') {
      width: 442px;
    }
    .flex-item {
      position: relative;
      width: 259px;
      height: 45px;
      padding-left: 15px;
      margin-bottom: 1px;
      //
      @include breakpoint('tablet') {
        width: 400px;
        height: 52px;
      }
      @include breakpoint('desktop') {
        width: 440px;
        height: 52px;
      }
      //
      .leftGridItem {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        float: left;
        white-space: nowrap;
        width: 120px;
        overflow: hidden;
        a {
          .playBtn {
            display: inline-block;
            margin-top: 4px;
            background-image: url(../assets/images/playBtn.png);
            width: 21px;
            height: 21px;
            background-size: 21px 21px;
            background-color: #db58b4;
            //
            @include breakpoint('tablet') {
              width: 29px;
              height: 29px;
              background-size: 29px 29px;
            }
            @include breakpoint('desktop') {
              width: 29px;
              height: 29px;
              background-size: 29px 29px;
            }
          }
        }
      }
      .rightGridItem {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12px;
      }
      @include breakpoint('tablet') {
        height: 52px;
        .leftGridItem {
          width: 300px;
        }
      }
      @include breakpoint('desktop') {
        height: 52px;
        .leftGridItem {
          width: 300px;
        }
      }
    }
  }
}

.row1 {
  background: rgba(255, 255, 255, .5);
}

.row2 {
  background: rgba(255, 255, 255, .3);
}

.playListItem {
  display: inline-block;
  width: 50%;
  padding-left: 12px;
  h1 {
    font-family: "DIN Medium";
    margin: 0;
    padding: 0;
    @include res-font(320px, 11px, 768px, 12.5px, 1024px, 14px);
    line-height: 160%;
    color: #000;
  }
  p {
    font-family: Arial;
    font-style: italic;
    margin: 0;
    padding: 0;
    @include res-font(320px, 8px, 768px, 10px, 1024px, 11px);
    font-style: italic;
    color: #333;
  }
}




.fieldset {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.fieldset>div {
  text-align: right;
}

.toggleBtn {
  @extend .yellowButtonGradient;
  cursor: pointer;
  display: block;
  float: left;
  padding: .2em .4em;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, .2) inset, -1px -1px 1px rgba(0, 0, 0, .2) inset;
  font-family: 'TitilliumText22L001';
  width: 51px;
  height: 21px;
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  color: #000;
  @include breakpoint('tablet') {
    width: 71px;
    height: 30px;
    font-size: 14px;
    line-height: 22px;
  }
  @include breakpoint('desktop') {
    width: 71px;
    height: 30px;
    font-size: 14px;
    line-height: 22px;
  }
}

.dtLeft {
  @include border-left-radius(0.5em);
}

.dtRight {
  @include border-right-radius(0.5em);
}

.selected,
.active,
.toggleBtn:hover {
  background: $yellowButtonGradientDark !important;
  background-color: $yellowButtonGradientDark !important;
  color: #000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2) inset;
}
