.footer {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #ffb000;
  width: 100%;
  height: 116px;
  border: 1px solid #000;
  @include res-font(320px, 5px, 768px, 11px, 1024px, 11px);
  letter-spacing: 0.3px;

  .footerContainer {
    width: 100%;

    @include centerer(true, true);
    .footer_inner_left {
      width: 50%;
      text-align: center;
      float: left;
    }
    .footer_inner_right {
      width: 50%;
      float: left;
      text-align: center;
    }
  }
}