// -------------------------------------------------------------------------------------------------

//Desktop - 984+ large
//Tablet - 600 - 983
//Mobile – 320 – 599, or less


@mixin breakpoint($point) {
    @if $point == desktop {
        @media  screen and (min-width : 721px) { @content; }
    }
    @else if $point == tablet {
        @media  screen and (min-width : 481px) and (max-width : 720px)  { @content; }
    }

    @else if $point == phone {
        @media  screen and (min-width : 1px) and (max-width : 480px)  { @content; }
    }
}


// -------------------------------------------------------------------------------------------------

@mixin fontFace($family,$src,$weight: normal,$style: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot');                                    // IE9 compatible
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
        url('#{$src}.woff') format('woff'),                         // standards
        url('#{$src}.ttf') format('truetype'),                      // Safari, Android, iOS
        url('#{$src}.svg##{$family}') format('svg');                // legacy iOS
        font-style: $style;
        font-weight: $weight;
    }
}
// -------------------------------------------------------------------------------------------------

@mixin sized-sprite($name, $w: 20, $h: 20) {
  @include sprite-sprite($name);
  height: #{$h}px;
  width: #{$w}px;
}

// -------------------------------------------------------------------------------------------------

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// -------------------------------------------------------------------------------------------------

@function fluid-percentage ($parent, $element) {
    @if unitless($element) {
        $element: $element * 1px;
    }
    @if unitless($parent) {
        $parent: $parent * 1px;
    }
    @return ($element * 100 / $parent) + '%';

}
// -------------------------------------------------------------------------------------------------
//This is used when you have a 100% element which has a child element that needs to match the full size
@mixin centered-container() {
    margin: 0 auto;
    max-width: $site-max-width;
}

/* 
This one is BETTER
.parent {
  position: relative;
}
.child {
  @include centerer(true, false);
}

*/
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}





// -------------------------------------------------------------------------------------------------


@mixin res-font($b1:320px, $f1:10px, $b2:768px, $f2:15px, $b3:1024px, $f3:20px) {
//    $b1 : $b1 + px; $b2 : $b2 + px; $b3 : $b3 + px;
//    $f1 : $f1 + px; $f2 : $f2 + px; $f3 : $f3 + px;


    $mt-mp1 : ($b2 - $b1)/4;


    @media  screen and (max-width : $b1) { font-size: ($f1) }
    $start: $b1+1;
    $end: $start + $mt-mp1;
    $f1: $f1+1;
    @media  screen and (min-width : ($start)) and (max-width : ($end))  { font-size: ($f1) }
    $start: $end+1;
    $end: $start + $mt-mp1;
    $f1: $f1+1;
    @media  screen and (min-width : ($start)) and (max-width : ($end))  { font-size: ($f1) }
    $start: $end+1;
    $end: $start + $mt-mp1;
    $f1: $f1+1;
    @media  screen and (min-width : ($start)) and (max-width : ($end))  { font-size: ($f1) }
    $start: $end+1;
    $end: $start + $mt-mp1;
    $f1: $f1+1;
    @media  screen and (min-width : ($start)) and (max-width : ($b2 - 1))  { font-size: ($f1) }

    @media  screen and (width : $b2) { font-size: ($f2) }
    @media  screen and (min-width : $b2+1) and (max-width : ($b3 - 1))  { font-size: ($f2) }
    @media  screen and (min-width : $b3) { font-size: ($f3) }
}





// -------------------------------------------------------------------------------------------------

@mixin retina-image ($img) {
  background-image: url($img);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

// -------------------------------------------------------------------------------------------------
@mixin hcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// -------------------------------------------------------------------------------------------------


@mixin center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}



/// Given a font size in pixels, reproduces that font size in rems.
/// @access public
/// @param {Length} $size - Font size
/// @example scss - Usage
/// .foo {
/// @include font-size(16px);
/// }
/// @example css - Result
/// .foo {
/// font-size: 16px;
/// font-size: 1rem;
/// }
@mixin font-size($size) {
  @if unitless($size) {
    $size: $size * 1px;
  }
  font-size: $size;
  font-size: ($size / $base-font-size) * 1rem;
}
/// Forces browsers to use hardware acceleration for transforms
/// @access public
/// @example scss - Usage
/// .foo {
/// @include ha;
/// }
/// @example css - Result
/// .foo {
/// -webkit-transform: translate3d(0, 0, 0);
/// -moz-transform: translate3d(0, 0, 0);
/// transform: translate3d(0, 0, 0);
/// }
@mixin ha {
  @include prefix(transform, translate3d(0, 0, 0), 'webkit' 'ms');
}




/// Retina image media query helper; given an image path with a 2x-sized version of an image, will load that image as a background-image on high-resolution devices.
/// @access public
/// @param {String} $image - Image path
/// @param {Length} $width - Image width
/// @param {Height} $height - Image height
/// @example scss - Usage
/// .foo {
/// @include image-2x('../images/image.png', 100%, auto);
/// }
@mixin image-2x($image, $width, $height) {
  @media (-webkit-min-device-pixel-ratio: 1.3),
  (min-resolution: 124dpi),
  (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}






